/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url("http://fonts.googleapis.com/css?family=Andika");
@import url("http://fonts.googleapis.com/css?family=Radley");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a img{border:0;}
.body{clear:both;position:relative;margin:0px auto;width:960px;}
.col{float:left;margin-bottom:8px;}
.full{width:960px;}
.grail-small{width:234px;margin-left:8px;}
.grail-medium{width:476px;margin-left:8px;}
.grail-large{width:718px;margin-left:8px;}
.three{width:314px;margin-left:9px;}
.first{margin-left:0;}
@media only screen and (max-width:700px){.body{width:inherit;} .col{width:100%;margin-left:0;}}.nav{list-style:none;width:100%;text-align:center;}
.nav li{display:inline-block;}
.nav ul{text-align:left;}
.nav li li{display:block;}
.nav a{display:block;text-decoration:none;line-height:1.5;padding:0 1em;}
.nav a:hover{text-decoration:underline;}
.nav ul{display:none;background:#fff;list-style:none;position:absolute;box-shadow:3px 3px 5px rgba(0, 0, 0, 0.8);-webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.8);-moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.8);}
.nav ul a{white-space:nowrap;}
.nav li:hover ul{display:block;}
.nav li:hover a{text-decoration:underline;}
.nav li:hover ul a{text-decoration:none;}
.nav li:hover ul li a:hover{background:#999;}
body{font-family:"Andika";font-size:14px;}
h1,h2,h3,h4,h5{font-family:"Radley";}
h1{font-size:190%;}
h2{font-size:150%;}
body{background:#e4e5e7 url("body-background.png");color:#333;line-height:1.3;}
#head h1{margin:0;}
h1,h2,h3,h4,h5{color:#aaa;background:#000000 url("header-background.png");margin:8px 0 0;padding:0 5px;}
ul#social-icons{list-style:none;overflow:hidden;margin:0 0 .75em;padding:0;}
#social-icons li{float:left;width:24px;height:24px;overflow:hidden;margin:0 3px;}
#social-icons li:first{margin:0;}
#social-icons a{display:block;overflow:hidden;width:24px;height:24px;text-indent:-900em;background-repeat:no-repeat;}
#social-icons .delicious a{background-image:url("icons/delicious.png");}
#social-icons .digg a{background-image:url("icons/digg.png");}
#social-icons .lastfm a{background-image:url("icons/lastfm.png");}
#social-icons .twitter a{background-image:url("icons/twitter.png");}
#social-icons .google a{background-image:url("icons/g+.png");}
.post h2 a{color:inherit;text-decoration:none;}
.post h2 a:hover{text-decoration:underline;}
.post .meta{background-color:#aaa;padding-bottom:3px;}
.post img[align=left]{margin-right:4px;}
.post img[align=right]{margin-left:4px;}
.post .more,.meta a{white-space:nowrap;font-style:italic;}
.status-updates li{font-size:70%;}
.status-updates li:first-child{font-size:100%;}
.gh-banner{display:none;}
@media only screen and (min-width:1000px){.gh-banner{display:block;position:absolute;top:0;right:0;}}
