ul#social-icons {
	list-style: none;
	overflow: hidden;
	margin: 0 0 .75em;
	padding: 0;
}

#social-icons li {
	float: left;
	width: 24px;
	height: 24px;
	overflow: hidden;
	margin: 0 3px;
}
#social-icons li:first { margin: 0; }

#social-icons a {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	text-indent: -900em;
	background-repeat: no-repeat;
}
#social-icons .delicious a { background-image: url("icons/delicious.png"); }
#social-icons .digg a { background-image: url("icons/digg.png"); }
#social-icons .lastfm a { background-image: url("icons/lastfm.png"); }
#social-icons .rss a { background-image: url("icons/rss.png"); }
#social-icons .twitter a { background-image: url("icons/twitter.png"); }

.container h1,
.container h2,
.container h3 {
	text-shadow: 1px 1px 3px #aaa;
}

.title a.home { text-decoration: none; }
