<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="Author" content="Matthew Pietz" />
	<link href="http://feeds.feedburner.com/sirlancelot" rel="alternate" title="Matthew Pietz" type="application/atom+xml" />

	<link rel="stylesheet" type="text/css" href="/site/blueprint/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/site/blueprint/print.css" media="print" />
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/site/layout.css" />
	<link rel="stylesheet" type="text/css" href="/site/style.css" />
</head>
<body>

<a href="http://github.com/sirlancelot" style="position: absolute; top: 0; right: 0; border: 0;"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<div class="container {{page.class}}">
	{{ content }}
</div>

</body>
</html>
