---
layout: master
---
<div class="body post">
	<p class="meta">{{page.date | date_to_long_string}}</p>
	<div class="col grail-large content first">
		{{ content }}
	</div>
	<div class="col grail-small">
		<hr/>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		</script>
		<noscript><a href="http://disqus.com/forums/mpietz-github/?url=ref">View the discussion thread.</a></noscript>
	</div>
</div>
