---
layout: master
---

<div class="post span-16">
	<div class="date">
		{{ page.date | date: '<span class="day">%d</span> <span class="month">%b</span> <span class="year">%Y</span>' }}
	</div>
	{{ content }}
</div>

<div class="comments span-8 last">
	<hr/>
	<div id="disqus_thread"></div>
	<script type="text/javascript" src="http://disqus.com/forums/mpietz-github/embed.js"></script>
	<noscript><a href="http://disqus.com/forums/mpietz-github/?url=ref">View the discussion thread.</a></noscript>
</div>
